{% extends 'template.admin.html' %}

{% block title %}Admins | ZHS Tour - Admin panel{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">
        <i class="fa-solid fa-user-secret"></i> 
        Admins 
        <a href="{{ url_for('add_admin') }}" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> New</a>
    </h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Admin Panel</li>
    </ol>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Admins Data
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for admin in admins %}
                    <tr>
                        <td>{{ admin[1] }}</td>
                        <td>{{ admin[2] }}</td>
                        <td>
                            <a href="{{ url_for('edit_admin', id=admin[0]) }}" class="btn btn-sm btn-secondary" title="Edit">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </a>
                            <a href="{{ url_for('delete_admin', id=admin[0]) }}" class="btn btn-sm btn-danger" title="Delete">
                                <i class="fa-regular fa-trash-can"></i> Delete
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}