{% extends 'template.admin.html' %}

{% block title %}ZHS Tour - Admin panel{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4"><i class="fa-solid fa-ban"></i> Canceled Bookings</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Admin Panel</li>
    </ol>
    

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Canceled Bookings
        </div>
        <div class="card-body">
            
        
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Name</th>
                        <th>email</th>
                        <th>Package</th>
                        <th>Price</th>
                        <th>Departure date</th>
                        <th>Contact</th>
                        
                    </tr>
                </thead>

                <tbody>
                    <?php
                        $q = "SELECT * FROM `canceled_bookings`";
                        $result = $con->query($q);
                        
                        if($result->num_rows > 0) {


                            while ($row = $result->fetch_assoc()) {
                                echo '<tr>';
                                echo '<td>' . $row['byuser'] . '</td>';
                                echo '<td>' . $row['name'] . '</td>';
                                echo '<td>' . $row['email'] . '</td>';
                                echo '<td>' . $row['package'] . '</td>';
                                echo '<td>' . $row['price'] . '</td>';
                                echo '<td>' . $row['deptr_date'] . '</td>';
                                echo '<td>' . $row['contact'] . '</td>';
                                echo '</tr>';
                    
                    
                            }
                    
                        }
                    
                    
                    ?>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}